<body style="background-color: #1d2124">
<br/>
<center><div class="card" style="width: 20rem;">
  <img class="card-img-top" src="http://www.ikarakorum.com/images/Productes3/AMG00024ML.gif" alt="Card image cap">
  <div class="card-block">
    <h1>Editar Sistema</h1>
    <%= render 'form' %>
  </div>
</div></center>
</body>

<%= link_to 'Back', sistemas_path %>
