<div class="jumbotron" style="background-image:
    url(http://2.bp.blogspot.com/_EZ16vWYvHHg/S-Bl2fuyyWI/AAAAAAAAMKc/DNayYJK8mEo/s1600/www.BancodeImagenesGratuitas.com-Fantasticas-20.jpg);background-repeat: no-repeat;background-size: cover;
">
  <center><h1 style="font-size:40px;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;color:white;">
    Menú Principal
  </h1></center>
</div>
<body style="background-color: #062c33;color: white">


<table>
  <tr>
    <td><h2>Constelaciones</h2> </td>
    <td><h2><%= link_to 'Ver Detalles', constelacions_path %></h2></td>
  </tr>
  <tr>
    <td><h2>Sistemas</h2></td>
    <td><h2><%= link_to 'Ver Detalles', sistemas_path %></h2></td>
  </tr>
  <tr>
    <td><h2>Planetas</h2></td>
    <td><h2><%= link_to 'Ver Detalles', planeta_path %></h2></td>
  </tr>
</table>
<br/>

</body>

