<body style="background-color: #1d2124">
<br/>
<center><div class="card" style="width: 20rem;">
  <img class="card-img-top" src="http://images.nationalgeographic.com.es/medio/2016/07/07/planetatressoles2_400x400_6f6fa47f.JPG" alt="Card image cap">
  <div class="card-block">
    <h1>Editar Planeta</h1>
    <%= render 'form' %>
  </div>
</div></center>
</body>

<%= link_to 'Back', planeta_path %>
