<body style="background-color: #1d2124">
  <br/>
  <center><div class="card" style="width: 20rem;">
    <img class="card-img-top" src="http://photos1.blogger.com/x/blogger/7629/4149/1600/749183/cisne_figura.jpg" alt="Card image cap">
    <div class="card-block">
      <h1>New Constelacion</h1>
      <%= render 'form' %>
    </div>
  </div></center>
</body>

<%= link_to 'Back', constelacions_path %>
